.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

html{
	font-size: 22px;
	color: #494e52;
}

body{

}

header{
	border-bottom: 1px solid #f2f3f3;
}

.inner-wrap{
	max-width: 1280px;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid blue;
}

.sidebar{
	float: left;
	width: 25%;
	border: 1px solid red;
	height: calc(100vh-2em-2em);
}

.archive{
	width: 73%;
	border: 1px solid;
	float: right;
}

.archive_subtitle{
	padding-bottom: 0.5em;
	border-bottom: 1px solid #f2f3f3;
}