
/* common */
* {
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
}

ul, ol, li {
	list-style: none;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 13px;
	font-weight: 400;
	background-color: #f4f7f6;
	text-align: center;
}

header h1{
	display: inline-block;
	height: inherit;
}

header nav{
	float: left;
	position: absolute;
	right: 80px;
	top: 0;
	height: inherit;
}

header nav ul{
	display: inline-block;
	height: inherit;
}

header nav ul li{
	float: left;
}

header nav ul li:first-child{
	float: left;
	margin-right: 30px;
}

main{
	height: 100%;
}

main .box-site-head{
	/*position: relative;*/
	height: 580px;
	padding: 0 70px;
}

main .box-site-head .box-content{
	width: inherit;
	height: 580px;
	text-align: center;
}

main .box-site-head .box-content .title{
	position: relative;
  top: 200px;
  font-size: 30px;
  color: #fff;


}


/* think-with-google */
main .box-site-head.think-with-google{
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/thinkwithgoogle_header.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}
